:root {
  --primary-color: #008080; 
  --secondary-color: #0a1f44;
  --accent-color: #00cccc;
  --background-color: #0d1b2a;
  --text-color: #e0e1dd;
}

.about-container {
  padding: 5% 10%;
  color: var(--text-color);
  background-color: var(--background-color);
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-header h2 {
  font-size: 2.5rem;
  color: var(--accent-color);
}

.about-header p {
  font-size: 1.2rem;
  color: var(--text-color);
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img-2 {
  width: 100%;
  max-width: 400px;
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.bio-section {
  flex: 2;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.bio-section h3 {
  font-size: 2rem;
  color: var(--accent-color);
}

.bio-section p {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
}

.info-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.info-card {
  flex: 1 1 300px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.info-card h3 {
  font-size: 1.75rem;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.info-card p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.4;
}

.info-icon {
  width: 50px;
  height: 50px;
  animation: bounce 2s infinite;
}

.university-logo {
  width: 100px;
  height: auto;
  margin: 0 auto 10px;
  display: block;
}

.internship-logo {
  width: 100px;
  border-radius: 5%;
  height: auto;
}

.name-highlight {
  color: var(--accent-color);
  text-shadow: 2px 2px var(--secondary-color);
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


