:root {
    --text-color: #e0e1dd;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

footer a {
  text-decoration: none;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

footer a:hover {
  color: #0077b6; /* or any color you prefer */
}

.icon {
  font-size: 1.1rem;
}


.column {
    margin: 0 1rem;
    min-width: 150px;
}

ul {
    list-style-type: none;
    padding: 0;
}

