:root {
  --primary-color: #008080;
  --secondary-color: #0a1f44;
  --accent-color: #00cccc;
  --text-color: #e0e1dd;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-logo .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-logo .logo:hover {
  color: var(--primary-color);
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 30px;
}

.navbar-links a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.navbar-links li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

/* .navbar-links li:hover::after {
  width: 100%;
  left: 0;
} */
